/*
 * Fonts
 */

@font-face {
    font-family: "Code Bold";
    src: url('CODEBold.otf');
}
@font-face {
    font-family: "Code Light";
    src: url('CODELight.otf');
}
@font-face {
    font-family: "Sinkin Regular";
    src: url('SinkinRegular.otf');
}



/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

html,
body {
  height: 100%;
  background-color: #fff;
}
body {
  color: #000;
  text-align: center;
}

.container-fluid {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper {
  display: table-cell;
  vertical-align: middle;
  font-family: "Sinkin Regular", Arial, Helvetica, sans-serif;

}
.404-container {
  width: 100%;
}

.404 {	
}

.notfound {

}

.text404 {

}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #424242;
  color: #fff;
  font-family: "Sinkin Regular", Arial, Helvetica, sans-serif;
}



